*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #372D23;
    padding: 32px 0;
}

.header-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container ul {
    display: flex;
    justify-content: space-between;
}

.header-container ul li {
    list-style-type: none;
    margin-right: 3%;
}

.header-container ul li a {
    color: #B89278;
    font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
text-decoration: none;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 32px 0;
    background: #372D23;
}

.footer-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 550px) {

    .footer-container {
    flex-direction: column;
    }

    .main-food {
        margin-bottom: 1.5rem;
    }
}

.main-food h2 {
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}

.main-food ul li {
    list-style-type: none;
}

.main-food ul li a {
    color: #B89278;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
text-decoration: none;
}

.socials h2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
}

.icones {
    display: flex;
    justify-content: space-between;
}

.icones img {
    margin-right: 1rem;
}